.auth-options {
    height: 300px;
    width: 200px;
    background-color: var(--primary-light-color);
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
}

.auth-button {
    margin: 10px auto;
    min-width: 200px;
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    border-radius: 20px;
    font-style: bold;
    font-size: 18px;
    text-transform: uppercase;
}