<div class="profile-container">
  <h2 class="profile-title">Patient Profile</h2>

  <div class="profile-details">
    @if (patient()) {
      <div class="profile-details-text">
        <p><strong>Name:</strong> {{ patient()!.name }} {{ patient()!.surname }}</p>
        <p><strong>Email address:</strong> {{ patient()!.email }}</p>
        <p><strong>Gender:</strong> {{ patient()!.gender }}</p>
        <p><strong>Birthday:</strong> {{ patient()?.birthday }}</p>
        @if (patient()!.phone) {
          <p><strong>Phone number:</strong> {{ patient()!.phone }}</p>
        }
        @if (patient()!.allergies) {
          <p><strong>Allergies:</strong> {{ patient()!.allergies }}</p>
        }
        @if (patient()!.intolerances) {
          <p><strong>Intolerances:</strong> {{ patient()!.intolerances }}</p>
        }
        @if (patient()!.conditions) {
          <p><strong>Conditions:</strong> {{ patient()!.conditions }}</p>
        }
        @if (patient()!.blood) {
          <p><strong>Blood type:</strong> {{ patient()!.blood }}</p>
        }
        @if (patient()!.citizenship) {
          <p><strong>Citizenship:</strong> {{ patient()!.citizenship }}</p>
        }
        @if (patient()!.socialNumber) {
          <p><strong>Social number:</strong> {{ patient()!.socialNumber }}</p>
        }
      </div>

      <div class="profile-buttons">
        <a [routerLink]="['edit']" class="nav-button">Edit</a>
        <button (click)="openDeleteDialog()" class="logout-btn">Delete Account</button>
      </div>

      <dialog>
        <form method="dialog">
          <p>
            Are you sure you want to delete your account? This action is permanent!
          </p>
          <menu style="padding:0">
            <button class="nav-button">No, cancel</button>
            <button (click)="handleDelete()" class="logout-btn">Yes, delete</button>
          </menu>
        </form>
      </dialog>
    } @else {
      <p>Loading user details...</p>
    }
  </div>
</div>
