@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>To access the login page, press <a href="https://localhost:7070/auth/login">here</a>.</p>
    <p id="signature-EB">- Emma</p>
</div>
