 <div class="app-container">
 @if (isAuthenticated() && user() != null) {
      <div class="page-top">
        <div class="header">
          <img src="Header.png" alt="Header" id="header-pic" />
          <div class="image-container"></div>
        </div>
        <div class="nav">
          <a [routerLink]="['']" class="nav-button">Home</a> <br />
          <a [routerLink]="['prescriptions']" class="nav-button"
            >Prescriptions</a
          >
          <br />
          <a [routerLink]="['medication']" class="nav-button">Medication</a>
          <br />
          <a
            [routerLink]="[user()!.isDoctor ? 'profile/doctor' : 'profile']"
            class="nav-button"
            >Profile</a
          >
          <br />
          <button class="logout-btn" (click)="handleLogout()">Logout</button>
        </div>
      </div>
    }

    <main class="main-content">
        <router-outlet />
    </main>

    <div class="page-bottom">
      <div class="footer">
        <div class="icon">
          <a [routerLink]="['/']" class="home-icon" style="grid-area: box-1">
            <img src="Logo.png" alt="Home" width="96" height="96" />
          </a>
          <p id="rights" style="grid-area: box-2">All rights reserved.</p>
        </div>
        <div class="info" style="grid-area: box-3">
          <div><p>
            Our <a href="https://github.com/M1841/ii-final-project" style="color: white;">github</a>
          </p></div>
          <div>
            <p><a [routerLink]="['']" style="color: white;">Home</a></p>
            <p><a [routerLink]="['prescriptions']" style="color: white;">Prescriptions</a></p>
            <p><a [routerLink]="['medication']" style="color: white;">Medication</a></p>
          </div>
          <div>
            <p>
              Contact info:
            </p>
            <p>
              <a href="https://github.com/Hestray" style="color: white">Project leader</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>