<div class="main-content">
@if (isLoading()) {
  <div class="loading-state">
    loading...
  </div>
} @else {
  <div class="med-search-container">
    <main>
      <!-- Search Form -->
      <form class="search-form" [formGroup]="searchForm" (input)="handleSearch()">
        <input
          required
          placeholder="Search"
          formControlName="query"
        />
      </form>

      <!-- Top Pagination Controls -->
      <div class="pagination-controls">
        <button (click)="setPage(1)" [disabled]="page() === 1">
          &lt;&lt;
        </button>
        <button (click)="setPage(page() - 1)" [disabled]="page() === 1">
          &lt;
        </button>
        <span>Page {{ page() }}</span>
        <button (click)="setPage(page() + 1)" [disabled]="page() === lastPage()">
          &gt;
        </button>
        <button (click)="setPage(lastPage())" [disabled]="page() === lastPage()">
          &gt;&gt;
        </button>
      </div>

      <!-- Medication List -->
      <ul class="med-list">
        @for (med of displayedMeds(); track $index) {
          <li (click)="selectMed(med)">
            <strong>Name:</strong> {{ med.name }}<br />
            <strong>Brand:</strong> {{ med.brand }}<br />
          </li>
        }
      </ul>

      <!-- Bottom Pagination Controls -->
      <div class="pagination-controls">
        <button (click)="setPage(1)" [disabled]="page() === 1">
          &lt;&lt;
        </button>
        <button (click)="setPage(page() - 1)" [disabled]="page() === 1">
          &lt;
        </button>
        <span>Page {{ page() }}</span>
        <button (click)="setPage(page() + 1)" [disabled]="page() === lastPage()">
          &gt;
        </button>
        <button (click)="setPage(lastPage())" [disabled]="page() === lastPage()">
          &gt;&gt;
        </button>
      </div>
    </main>

    <aside class="med-details">
      @if (displayedMed() !== null) {
        <h2>{{ displayedMed().name }} – {{ !!displayedMed().brand  ? displayedMed().brand : 'Not set yet' }}</h2>
        <p><strong>Dosage Form:</strong> {{ !!displayedMed().form ? displayedMed().form : 'Not set yet' }}</p>
        <p><strong>Administration Method:</strong> {{ !!displayedMed().method ? displayedMed().method : 'Not set yet' }}</p>
        <p>
          <strong>Requires Prescription:</strong>
          {{ displayedMed().isPresRequired ? 'Yes' : 'No' }}
        </p>
        <p><strong>Indications:</strong> {{ !!displayedMed().indications ? displayedMed().indications : 'Not set yet' }}</p>
        <p><strong>Contraindications:</strong> {{ !!displayedMed().contraindications ? displayedMed().contraindications : 'Not set yet' }}</p>
        <p><strong>Side Effects:</strong> {{ !!displayedMed().sideEffects ? displayedMed().sideEffects : 'Not set yet' }}</p>
        <p><strong>Warnings:</strong> {{ !!displayedMed().warnings ? displayedMed().warnings : 'Not set yet' }}</p>
        <p><strong>Storing:</strong> {{ !!displayedMed().storing ? displayedMed().storing : 'Not set yet' }}</p>
        @if (isDoctor()) {
          <a
            [routerLink]="['../prescriptions/create']"
            [queryParams]="{ medId: displayedMed().id }"
            class="nav-button"
          >
            Add to a prescription
          </a>
        }
      }
    </aside>
  </div>
    }

    </div>